In [85]:
import pandas as pd
import numpy as np
import datetime 
import math

In [86]:
df=pd.DataFrame({'Hour':np.arange(0,8784).tolist()})

In [87]:
L=[]
x=datetime.datetime(2020,1,1)
for i in range(0,8784):
    L.append(x)
    x+=datetime.timedelta(hours=1)
df["date"]=L
df=df.set_index("date")
df.head(48)

                     Hour
date
2020-01-01 00:00:00     0
2020-01-01 01:00:00     1
2020-01-01 02:00:00     2
2020-01-01 03:00:00     3
2020-01-01 04:00:00     4
2020-01-01 05:00:00     5
2020-01-01 06:00:00     6
2020-01-01 07:00:00     7
2020-01-01 08:00:00     8
2020-01-01 09:00:00     9
2020-01-01 10:00:00    10
2020-01-01 11:00:00    11
2020-01-01 12:00:00    12
2020-01-01 13:00:00    13
2020-01-01 14:00:00    14
2020-01-01 15:00:00    15
2020-01-01 16:00:00    16
2020-01-01 17:00:00    17
2020-01-01 18:00:00    18
2020-01-01 19:00:00    19
2020-01-01 20:00:00    20
2020-01-01 21:00:00    21
2020-01-01 22:00:00    22
2020-01-01 23:00:00    23
2020-01-02 00:00:00    24
2020-01-02 01:00:00    25
2020-01-02 02:00:00    26
2020-01-02 03:00:00    27
2020-01-02 04:00:00    28
2020-01-02 05:00:00    29
2020-01-02 06:00:00    30
2020-01-02 07:00:00    31
2020-01-02 08:00:00    32
2020-01-02 09:00:00    33
2020-01-02 10:00:00    34
2020-01-02 11:00:00    35
2020-01-02 12:00:00    36
2020-01-02 13:00:00    37
2020-01-02 14:00:00    38
2020-01-02 15:00:00    39
2020-01-02 16:00:00    40
2020-01-02 17:00:00    41
2020-01-02 18:00:00    42
2020-01-02 19:00:00    43
2020-01-02 20:00:00    44
2020-01-02 21:00:00    45
2020-01-02 22:00:00    46
2020-01-02 23:00:00    47

In [88]:
df["Hour of Day"]=df["Hour"]%24

In [89]:
L=np.zeros(8784)
x=math.ceil(np.random.normal(9,3,1))
for i in range(1,8783):
    L[i]=0
    if i==x:
        L[i]=1
        x=math.ceil(np.random.normal(9+i,3,1))

In [90]:
df["EDL"]=L # add this column to the existing dataframe 
df_EDL=pd.DataFrame({'EDL':L.tolist()}) # create a new dataframe consisting only of EDL values to be used in the algorithm

In [91]:
EDL_array = np.asarray(L)
EDL_array = EDL_array.reshape(366,24)

In [92]:
## convert your array into a dataframe
df_EDL = pd.DataFrame (EDL_array)

## save to xlsx file

filepath = 'EDL.csv'

df_EDL.to_csv(filepath, index=False, header = False)